html{
	background: #000000;
}

body{
	padding: 1%;
	margin: 0% 1% 0% 1%;
}

header{
	background: #2200ff url(../images/flywheel.jpg) no-repeat;
	background-size: 100%;
	padding: 1%;
}

h1, h2{
	/*text-transform: uppercase;*/
	font-family: Verdana;
}

h1{
	/*change font color and size*/
	color: #ffffff;
	text-align: center;
	padding-top: 3%;
	text-decoration: underline overline dotted #ff0000;
	text-transform: uppercase;
}

h2{
	color: #2200ff;
	font-variant: small-caps;
}

/*section{
	background-color: #7dace4;
}*/

nav a{
	background-color: rgba(255,255,255,.5);
	color: #0000ff;
	display: inline-block;
	margin: 3% 3%;
	padding: 1% 4%;
	width: 10%;
	font-family: Verdana;
	font-variant: small-caps;
	text-decoration: none;
	text-align: center;

	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	-o-border-radius: 3;
	border-radius: 10px;
	border: #0000ff outset; 
	/*text-align: center;*/
}

.active{
	background: #ff0000;
	color: #ffffff;
}

.left{
	background: #8a9465;
	display: inline-block;
	width: 20%;
	height: 400px;
	padding: 0% 2% 100% 2%;
	float: left;
}

.right{
	display: inline-block;
	width: 72%;
	height: 400px;
	padding: 0% 2% 100% 2%; /*top right bottom left*/
	background: #a6cbf6;
	text-align: justify;
	font-family: Verdana;
}

.left img{
	display: inline-block;
	/*margin-left: 0 auto;*/
	width: 80%;
	margin: 20% 8% auto;
	border: #ffffff solid;
	border-width: 70%;
}
